<meta name="author" content="{{ site.author | escape }}">

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    jax: ["input/TeX", "output/HTML-CSS"],
    messageStyle: "none",
    tex2jax: {
      inlineMath: [ ['$', '$'], ["\\(", "\\)"] ],
      displayMath: [ ['$$', '$$'], ["\\[", "\\]"] ],
      processEscapes: true,
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
    }
  });
</script>

<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>


<!-- FA 4 -->
<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/eaf8912cfd.css"> 
<!-- <script src="https://use.fontawesome.com/c664b3e554.js"></script> -->
<!-- FA 5 -->
<!-- <script src="https://kit.fontawesome.com/78079d1f46.js" crossorigin="anonymous"></script> -->

<link rel="shortcut icon" href="{{ site.favicon | relative_url}}">

<script type="text/javascript" async src="{{ "/assets/swiped-events.min.js" | relative_url}}"></script>
<script type="text/javascript" async src="{{ "/assets/to-top.js" | relative_url}}"></script>

<!-- <base target="_blank"> -->

