{% capture filename %}{{ page.url | split: "/" | last }}{% endcapture %}
{% capture folder %}{{ page.url | remove: filename }}{% endcapture %}
{% capture assets %}{{ page.assets | default: folder }}{% endcapture %}

<div class="postimage">
<figure>
  <a href="{{assets | relative_url}}/img/{{include.file}}">
	<img 
	  src="{{assets | relative_url}}/img/{{include.file}}" 
      class="fullwidth {{include.class | default: "original-width"}}"
      alt=""/>
  </a>
  <figcaption>{{ include.caption | markdownify }}</figcaption>
</figure>
</div>
