{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{%- assign reading_time = post.content | number_of_words | divided_by:120 -%}

<div class="post-card{% if post.featured %} featured{% endif %}">

   <span class="post-meta">
      {{ post.date | date: date_format }} | {{ reading_time }} minutos
   </span>

   {% if post.featured %}
   <div class="featured-label">
      <i class="fa fa-bell" aria-hidden="true"></i> Destacado
   </div>
   {% endif %}

   <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
      </a>
   </h3>

   {%- if post.image -%}
   <a href="{{ post.url | relative_url }}">
      <div class="teaser-image-frame">
         <img src="{{post.image | relative_url}}"/>
      </div>
   </a>
   {%- endif -%}

   {%- if site.show_excerpts -%}
   <div class="post-excerpt">
      {{ post.excerpt }}

      {%- if site.show_tags -%}
        {% for tag in post.tags %}
          <a class="post-tag" href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
      {%- endif -%}

   </div>
   {%- endif -%}

</div>
