<div class="postimage">
<figure>
  <a href="{{page.assets | relative_url}}/video/{{include.file}}">
    <video
      class="fullwidth {{include.class | default: "original-width"}}"
      {{include.attrs | default: "autoplay loop muted"}} >

      <source
          src="{{page.assets | relative_url}}/video/{{include.file}}"
          type="{{include.type | default: "video/mp4"}}" />

      Your browser does not support the video tag.

    </video>
  </a>
  <figcaption>{{ include.caption | markdownify }}</figcaption>
</figure>
</div>
