/* Tags */
.easymcp-tag {
  display: inline-block;
  background: $grey-color-light;
  padding: 0 .1rem;
  margin-right: .1rem;
  margin-bottom: .5rem;
  border-radius: 4px;
  color: $text-color;
  font-size: 60%;
}

