.portfolio .entry {
  padding: 1em;
  margin-top: 1em;
  clear: both;
  overflow: auto;
}


.portfolio .title {
  font-size: larger;
  font-weight: bold;
}

.portfolio .web {
  font-size: small;
  font-style: italic;
  color: grey;
}


.portfolio .text {
  margin: 5px;
  padding: 5px;
}

.portfolio .picture {
  max-width: 250px;
  float: right;
  margin-left: 1em;
}

/* condition for screen size less than 500px */
@media (max-width:500px) {
  .portfolio .picture {
    max-width: 90%;
    float: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}



