.portfolio .entry {
  padding: 1em;
  margin-top: 1em;
  clear: both;
  overflow: auto;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
}


.portfolio .title {
  font-size: larger;
  font-weight: bold;
}

.portfolio .web {
  font-size: small;
  font-style: italic;
  color: grey;
}


.portfolio .text {
  margin: 5px;
  padding: 5px;
}

.portfolio .picture {
  max-width: 250px;
  float: right;
  margin-left: 1em;
}




