---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-title">{{ page.list_title | default: "Posts" }}
    {% if paginator.page > 1 %}
    - página {{ paginator.page }}
    {% endif %}
  </h2>
    <ul class="post-list">
      {%- for post in paginator.posts -%}
        <li>
          {% include post_card.html %}
        </li>
        <hr/>
      {%- endfor -%}
    </ul>

    {% include prev_next.html prev_url=paginator.previous_page_path prev_text='Página anterior' next_url=paginator.next_page_path next_text='Página siguiente' %}
  {%- endif -%}

</div>


<!-- swipe code -->
<script language="javascript">
  nextpage = document.querySelector('link[rel="next"]');
  prevpage = document.querySelector('link[rel="prev"]');

  if (nextpage) {
    document.addEventListener('swiped-left', function(e) {
      //console.log("goto " + nextpage.href);
      location.href = nextpage.href;
    });
  }
  
  if (prevpage) {
    document.addEventListener('swiped-right', function(e) {
      //console.log("goto " + prevpage.href);
      location.href = prevpage.href;
    });
  }
</script>
<!-- end of swipe code -->
