---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
          | {{ content | number_of_words | divided_by:120 }} minutos
      {% if page.tags %} |
      {% for tag in page.tags %}
        <a class="post-tag" href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}
      {% endif %}
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
    </p>

    {%- if page.description -%}
      <div itemprop="abstract" itemscope itemtype="https://schema.org/abstract" class="post-card post-description">
        {{ page.description | escape }}
      </div>
    {%- endif -%}

  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {% include toc.html html=content sanitize=true class="inline_toc" id="my_toc" h_min=2 h_max=3 %}

    {% comment %}
    Since Github does not support custom plugins, we use replace to wrap table inside DIV block.
    To control the scroll when the table is wider than the viewport. EyC. 2023/08/11.
    {% endcomment %}

    {{ content | 
        replace: '<table>', '<div class="table-wrap" markdown="block"><table>' |
        replace: '</table>', '</table></div>' }}
  
  </div>

  {% include prev_next.html prev_url=page.previous.url prev_text=page.previous.title next_url=page.next.url next_text=page.next.title %}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
